.mainRow {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
}
.player {
  position: relative;
}
.icon {
  color: #777e90;
  cursor: pointer;
}
.icon:hover {
  color: #000;
}
.playerPreview img {
  border-radius: 16px;
  max-width: 640px;
  width: 100%;
  max-height: 800px;
  height: 100%;
}
.playerControl {
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 8px;
  z-index: 3px;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #fcfcfd;
}
.playerBtn {
  margin-right: 25px;
}
.line {
  position: relative;
  flex-grow: 1;
  height: 8px;
  margin-right: 24px;
  background: #e6e8ec;
  border-radius: 4px;
  margin-right: 24px;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 8px;
  border-radius: 4px;
  background-color: #3772ff;
  width: 20%;
}
.time {
  margin-right: 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

/* Right Items */

.mainDetails {
  display: block;
  width: 352px;
  margin-left: 128px;
  padding-bottom: 80px;
  flex-shrink: 0;
}
h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

ul {
  display: flex;
  margin: 0 -16px 40px;
}
.mainItem {
  display: flex;
  align-items: center;
  flex: 0 0 calc(50% - 32px);
  width: calc(50% - 32px);
  margin: 0 16px;
}
.avatar {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}
.description {
  flex-grow: 1;
}
.mainCategory {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 1.66667;
  color: #777e90;
}
.mainText {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
