.hot {
  padding: 128px 0;
}
.hotBox {
  position: relative;
}

.hotTitle {
  margin-bottom: 64px;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -.01em;
}



/* .hotInner {
  display: flex;
  margin: 0 -16px;
} */