footer {
  border-top: 1px solid #e6e8ec;
}

.footerRow {
  display: flex;
  padding: 80px 0px 48px;
  border-bottom: 1px solid #e6e8ec;
}

.footerColumn:first-child {
  flex-grow: 1;
  padding-right: 32px;
}
.footerColumn:nth-child(2) {
  display: flex;
  flex-shrink: 0;
  width: 352px;
}
.footerColumn:nth-child(3) {
  flex-shrink: 0;
  width: 384px;
  padding-left: 32px;
}

.footerLogo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  max-width: 40px;
  height: auto;
  margin-bottom: 32px;
}
.footerLogo img {
  width: 100%;
}
.footerLogo p {
  font-family: "DM Sans", sans-serif;
  font-size: 26px;
  color: #23262f;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.footerInfo {
  max-width: 256px;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
}

.footerMode {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.footerDetails {
  margin-right: 16px;
  font-size: 12px;
  line-height: 1.66667;
}

.footerGroup {
  flex: 0% 0% 50%;
}
.footerGroup:first-child {
  padding-right: 16px;
}
.footerGroup:nth-child(2) {
  padding-left: 16px;
}

.footerHead {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.footerIcon {
  display: none;
}
.icon {
  display: none;
}
.iconActive {
  display: none;
}
.footerHead.active .icon {
  transform: translateY(-50%) rotate(180deg);
}

.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerLink {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  color: #777e90;
  transition: color 0.2s;
}

.footerLink:not(:last-child) {
  margin-bottom: 24px;
}

.footerCategory {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.footerText {
  font-family: "DM Sans", sans-serif;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 300;
}

.subscription {
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

.subscriptionInput {
  width: 100%;
  height: 48px;
  padding: 0 48px 0 14px;
  border-radius: 24px;
  background: none;
  border: 2px solid #e6e8ec;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  color: #23262f;
  transition: border-color 0.2s;
}

.subscriptionBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #3772ff;
  transition: background 0.2s;
  border: none;
  color: #fff;
}

.subscriptionBtn .icon {
  width: 14px;
  height: 14px;
  fill: #fcfcfd;
}

.footerFoot {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  font-size: 12px;
  line-height: 1.66667;
}

.footerNote a {
  margin-left: 16px;
  font-weight: 600;
  color: #3772ff;
  transition: color 0.2s;
}
.footerCopyright {
  color: #777e90;
}

/* Mobile */

@media (max-width: 1179px) {
  .footerInfo {
    font-size: 16px;
  }
  .footerColumn:nth-child(2) {
    width: 276px;
  }
  .footerColumn:nth-child(3) {
    width: 304px;
  }
}

@media only screen and (max-width: 1023px) {
  .footerGroup {
    flex: 0 0 50%;
  }
  .footerRow {
    display: block;
  }
  .footerMode {
    position: absolute;
    top: 5px;
    right: 0;
    margin: 0;
  }
  .footerColumn:first-child {
    position: relative;
    margin-bottom: 32px;
    padding: 0;
  }
  .footerColumn:nth-child(2) {
    margin-bottom: 32px;
    width: auto;
  }
  .footerColumn:nth-child(3) {
    width: 100%;
    padding: 0;
  }
  .footerHead {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .footerBody {
    display: flex !important;
  }
}

@media (max-width: 768px) {
  .footerColumn:nth-child(2) {
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e6e8ec;
  }
  .footerHead {
    position: relative;
    margin-bottom: 0;
    padding: 32px 32px 32px 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footerIcon {
    display: block;
  }
  .footerBody {
    display: none;
    padding-bottom: 32px;
  }

  .footerGroup:nth-child(2) {
    padding: 0px;
  }

  .footerGroup:not(:last-child) {
    border-bottom: 1px solid #e6e8ec;
    padding: 0px;
  }
  .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #777e90;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    transform: translateY(-50%) rotate(180deg);
  }
  .iconActive {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #777e90;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .display {
    display: block;
  }
  .displayBlock {
    display: block;
  }
  .footerFoot {
    display: block;
    padding: 24px 0px 32px;
  }
  .footerCopyright {
    text-align: center;
  }
  .footerNote {
    display: none;
  }
}
