header {
  position: relative;
  z-index: 20;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e8ec;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
}
.center {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  flex-grow: 2;
}

.logo {
  font-size: 28px;
  text-decoration: none;
  color: #23262F;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: bold;
  padding-right: 20px;
  border-right: 1px solid #e6e8ec;
}
li {
  margin-left: 25px;
}
.links {
  text-decoration: none;
  /* font-family: 'DM Sans', sans-serif; */
  color: #777E90;
  line-height: 40px;
}
.links:hover {
  color: #3772FF;
}
.uploadBtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #FCFCFD;
  background-color: #3772FF;
  height: 100%;
  padding: 0 24px;
  border-radius: 20px;
}
.uploadBtn:hover {
  background-color: #2b5ed6;
  color: #fff;
}
.walletBtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #23262F;
  border: 1px solid #e6e8ec;
  height: 100%;
  padding: 0 24px;
  border-radius: 20px;
}
.walletBtn:hover {
  background-color: #3772FF;
  color: #fff;
}