.faq {
  padding: 128px 0px;
}

.faqTop {
  max-width: 640px;
  margin-bottom: 80px;
}
.faqRow {
  display: flex;
}

.faqStage {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #777e90;
}

.faqTitle {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
}

.faqInfo {
  font-size: 16px;
  line-height: 1.5;
  color: #353945;
}

.faqMobile {
  display: none !important;
}

.faqColumn:first-child {
  flex-shrink: 0;
  width: 160px;
}
.faqColumn:nth-child(2) {
  flex-shrink: 1;
  padding-left: 225px;
  flex: 1;
}

.faqNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faqLink {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  color: #777e90;
  cursor: pointer;
  transition: color 0.2s;
}

.faqLink:hover,
.faqLink.active {
  color: #23262f;
}
.faqLink:not(:last-child) {
  margin-bottom: 40px;
}
.faqBox {
  display: none;
}
.faqBox.active {
  display: block;
}
/* Responsive */

@media (max-width: 1339px) {
  .faqColumn:nth-child(2) {
    padding-left: 128px;
  }
}
@media (max-width: 1179px) {
  .faqColumn:nth-child(2) {
    padding-left: 64px;
  }
}

@media (max-width: 1023px) {
  .faqTop {
    margin-bottom: 64px;
  }
  .faqColumn:nth-child(2) {
    padding-left: 32px;
  }
}

@media (max-width: 768px) {
  .faqTop {
    margin-bottom: 40px;
  }
  .faqInfo {
    margin-bottom: 40px;
  }
  .faqMobile {
    display: block !important;
  }
  .faqRow {
    display: block;
  }
  .faqColumn:first-child {
    display: none !important;
  }
  .faqColumn:nth-child(2) {
    padding: 0;
  }
}
