.discover {
  padding: 128px 0;
}
.discoverTitle {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 64px;
}

.discoverTop {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.timeFrameDropDown {
  width: 180px;
}

.discoverNav {
  position: absolute;
  top: 10px;
  left: 50%;
  display: flex;
  justify-content: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.discoverLink {
  margin: 0 6px;
  padding: 6px 12px;
  border-radius: 14px;
  background: none;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  color: #777e90;
  transition: all 0.2s;
}

.tabletShow {
  display: none !important;
}

.discoverFilters {
  display: block;
  padding: 32px 0;
  border-top: 1px solid #e6e8ec;
}

.discoverSorting {
  display: flex;
  flex-wrap: wrap;
  margin: -32px -16px 0;
}

.discoverDropdown {
  flex: 0 0 calc(25% - 32px);
  max-width: calc(25% - 32px);
  width: 100%;
  margin: 32px 16px 0;
}

.fieldLabel {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #b1b5c3;
}
.fieldWrap {
  position: relative;
}

@media (max-width: 1180px) {
  .discoverSorting {
    margin: -24px -8px 0;
  }
}
@media (max-width: 1024px) {
  .discoverNav {
    display: none;
  }
  .tabletShow {
    display: block !important;
    width: 260px;
  }
}
@media (max-width: 768px) {
  .timeFrameDropDown {
    width: 100%;
    margin-bottom: 12px;
  }
  .discoverSorting {
    display: block;
    margin: 0;
  }
  .discoverTop {
    display: block;
  }

  .tabletShow {
    width: 100%;
    margin-bottom: 12px;
  }
}
