.discoverDropdown {
  flex: 0 0 calc(25% - 32px);
  max-width: calc(25% - 32px);
  width: 100%;
  margin: 32px 16px 0;
}

.fieldLabel {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #b1b5c3;
}
.fieldWrap {
  position: relative;
}
@media (max-width: 1180px) {
  .discoverDropdown {
    flex: 0 0 calc(25% - 16px);
    max-width: calc(25% - 16px);
    margin: 24px 8px 0;
  }
}

@media (max-width: 1024px) {
  .discoverDropdown {
    flex: 0 0 calc(50% - 32px);
    max-width: calc(50% - 32px);
    margin: 32px 16px 0;
  }
}

@media (max-width: 768px) {
  .discoverDropdown {
    max-width: 100%;
    margin: 0;
  }
  .discoverDropdown:not(:last-child) {
    margin-bottom: 20px;
  }
}
