.createSingle {
  padding: 128px 0px;
}
.createSingleWrapper {
  flex: 0 0 calc(100% - 352px);
  width: calc(100% - 352px);
  padding-right: 128px;
}

.createSingleHead {
  display: flex;
  margin-bottom: 40px;
}

.createSingleTitle {
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  margin-right: auto;
}

.createSingleButton {
  flex-shrink: 0;
  margin-left: 24px;
  height: 55px;
}
.createSingleList {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e8ec;
}
.createSingleItem:not(:last-child) {
  margin-bottom: 40px;
}
.createSingleCategory {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.createSingleNote {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.66667;
  color: #777e90;
}
.createSingleFile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 182px;
  margin-top: 16px;
  border-radius: 16px;
  overflow: hidden;
  background: #f4f5f6;
}
.createSingleInput {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 400px;
  opacity: 0;
}
.createSingleFormat {
  font-size: 12px;
  line-height: 1.66667;
  color: #777e90;
}

.createSingleIcon {
  margin-bottom: 10px;
}

.createSingleFieldset {
  margin-top: 32px;
}

.createSingleField:not(:last-child) {
  margin-bottom: 32px;
}
.createSingleFieldLabel {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #b1b5c3;
}
.createSingleFieldInput {
  position: relative;
  height: 48px;
  padding: 0 14px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #e6e8ec;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 500;
  color: #23262f;
  transition: border-color 0.2s;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

.createSingleRow {
  display: flex;
  margin: 0 -10px;
}
.createSingleColumn {
  flex: 0 0 calc(33.333% - 20px);
  width: calc(33.333% - 20px);
  margin: 0 10px;
}

.createSingleColumnLabel {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #b1b5c3;
}
.createSingleDropdown {
  position: relative;
}

.createSingleOptions {
  margin-bottom: 40px;
}
.createSingleOptionCategory {
  display: flex;
  align-items: flex-start;
}
.createSingleOptionCategory:not(:last-child) {
  margin-bottom: 32px;
}
.categoryBox {
  flex-grow: 1;
}
.categoryTitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.categoryText {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.66667;
  color: #777e90;
}

.creatSingleCards {
  display: flex;
  margin: 24px -4px 0;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.createCard {
  flex-shrink: 0;
  width: 160px;
  margin: 0 4px;
  padding: 24px;
  border-radius: 16px;
  background: #f4f5f6;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  /* font-weight: 700; */
  cursor: pointer;
}

.createPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 12px;
  background-color: #3772ff;
}
.createPlus img {
  opacity: 0;
}

.createCard:hover .createPlus img {
  opacity: 1;
}
/* Switch */

.switch {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 0;
}
.switchInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switchInner {
  position: relative;
  display: inline-block;
  transition: all 0.2s;
}
.switchBox {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  background: #e6e8ec;
  border-radius: 12px;
  transition: all 0.2s;
}

.switchBox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3772ff;
  transition: all 0.2s;
}

.upload .switch {
  flex-shrink: 0;
  margin-left: 24px;
}

/* responsive */

@media (max-width: 1339px) {
  .createSingle {
    padding: 80px 0;
  }
}

@media (max-width: 1179px) {
  .createSingleWrapper {
    flex: 0 0 calc(100% - 304px);
    width: calc(100% - 304px);
    padding-right: 32px;
  }
  .createSingleHead {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .createSingleButton {
    margin: 0 0 16px;
  }
}

@media (max-width: 1023px) {
  .createSingleWrapper {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .createSingleHead {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .createSingleRow {
    display: block;
    margin: 0;
  }
  .createSingleColumn {
    width: 100%;
    margin: 0;
  }
  .createSingleColumn:not(:last-child) {
    margin-bottom: 20px;
  }
}
