.modal {
  position: relative;
  max-width: 448px;
  margin: 15px auto;
  padding: 32px;
  background: #fcfcfd;
  border-radius: 16px;
}
.modalTitle {
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}
.modalInfo {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
}
.modalSubtitle {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.33333;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.modalRow {
  display: flex;
  padding-top: 12px;
}
.modalRow {
  padding: 0 0 12px;
  border-bottom: 1px solid #e6e8ec;
  font-weight: 500;
}
.modalColumn {
  font-size: 16px;
  line-height: 1.5;
}
.modalColumn:first-child {
  color: #777e90;
}
.modalBid {
  display: flex;
  align-items: center;
}
.modalRate {
  min-width: 100px;
  height: 24px;
  background: none;
  border: none;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.modalCurrency {
  margin-left: 4px;
}
.modalBtns {
  margin-top: 32px;
}
