.secondHeroRow {
  display: flex;
  flex-grow: 1;
  margin-right: 32px;
  padding-right: 32px;
  border-right: 1px solid #e6e8ec;
}
.columnOne {
  flex-grow: 1;
  padding-right: 32px;
}
.columnTwo {
  flex: 0 0 42.2%;
}

.preview {
  color: #23262f;
  text-decoration: none;
}
.previewImg {
  margin-bottom: 24px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.previewImg img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.previewImg img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.previewDetails {
  display: flex;
}
.line {
  align-items: center;
  display: flex;
}
.box {
  margin-left: auto;
  padding-left: 20px;
  text-align: right;
}
.creatorImage {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.creatorImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
img {
  vertical-align: middle;
}
.description {
  flex-grow: 1;
}
.title {
  font-size: 24px;
  line-height: 1.33333;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.count {
  font-weight: 500;
  color: #353945;
}
.secondHeroBtn {
  width: 145px;
}
/* Mobile */
@media (max-width: 1339px) {
  .secondHeroRow {
    margin-right: 0;
    padding: 0;
    border: none;
  }
}
@media (max-width: 1024px) {
  .columnOne {
    padding: 0;
  }
}

p {
  font-family: "Poppins", sans-serif;
}

/* Column Two */

.selectionItem {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #23262f;
}

.selectionPreview {
  flex-shrink: 0;
  width: 160px;
  margin-right: 24px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.selectionPreview img {
  width: 100%;
  /* vertical-align: middle; */
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.selectionPreview img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.selectionDescription {
  flex-grow: 1;
}
.selectionTitle {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.selectionLine {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.avatar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.selectionContent {
  font-size: 12px;
  line-height: 1.66667;
  color: #777e90;
  margin-left: 12px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .columnTwo {
    display: none;
  }
}