* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans", sans-serif;
}

input:focus {
  outline: none;
  box-shadow: none;
  resize: none;
}
div:focus {
  outline: none;
  box-shadow: none;
  resize: none;
}