.select {
  min-width: 256px;
  position: relative;
}
.current {
  float: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e6e8ec;
  background-color: #FCFCFD;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 500;
  color: #23262f;
  width: 100%;
  height: 48px;
  cursor: pointer;
  padding: 15px;
}

.list {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  border: 2px solid #E6E8EC;
  background-color: #FCFCFD;
  font-size: 14px;
  border-radius: 12px;
  list-style: none;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 4px 12px rgb(35 38 47 / 10%);
}
.option {
  padding: 15px;
  cursor: pointer;
}

.option:hover {
  background-color: #f6f6f6;
  color: #3772FF;
}

.selected {
  font-weight: 500;
  color: #3772FF;
}