.button {
  font: inherit;
  height: 100%;
  background-color: #3772ff;
  color: #fff;
  padding: 15px 24px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  /* margin-bottom: 10px; */
}

.button:hover,
.button:active {
  background-color: #044eff;
  color: #fff;
}

.button:focus {
  outline: none;
}