.popularTop {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}
.popularBox {
  margin-right: auto;
}
.title {
  font-size: 24px;
  line-height: 1.33333;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #777e90;
}

.select {
  float: none;
  height: 64px;
  padding: 0 64px 0 24px;
  background: transparent;
  border-radius: 32px;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  cursor: pointer;
  margin-left: -26px;
}

.current {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list {
  position: absolute;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 24px;
  background: #fcfcfd;
  box-shadow: 0px 24px 32px 0 rgb(15 15 15 / 15%);
  list-style: none;
  overflow: hidden;
  z-index: 10;
}

.option {
  min-height: auto;
  padding: 10px 24px;
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #777e90;
}
.option:hover {
  background-color: #f6f6f6;
  color: #3772FF;
}

.field {
  max-width: 256px;
}
.label {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  color: #b1b5c3;
}


/* wrapper */