.popularTop {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}
.popularBox {
  margin-right: auto;
}
.title {
  font-size: 24px;
  line-height: 1.33333;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #777e90;
}

.select {
  float: none;
  height: 64px;
  padding: 0 64px 0 24px;
  box-shadow: none;
  background: transparent;
  border-radius: 32px;
  border: none;
  opacity: 1;
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
}
.select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 27px;
  width: 15px;
  height: 15px;
}

.current {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list {
  right: 0;
  margin-top: 4px;
  border: none;
  border-radius: 24px;
  background: #FCFCFD;
  box-shadow: 0px 24px 32px 0 rgb(15 15 15 / 15%);
  list-style: none;
}

.option {
  min-height: auto;
  padding: 10px 24px;
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #777E90;
}